body {
    margin: 0;
    background-color: #0D1117;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*TopBar Style*/

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #161B22;
    color: white;
    padding: 17px 10px;
}

@media(max-width:451px) {
    .top-bar {
        flex-flow: column;
        width: 100%;
    }
    .rightSide-topBar {
        display: flex;
        justify-content: end;
    }
}

.leftSide-topBar {
    padding: 5px 5px;
    cursor: pointer;
}

.leftSide-topBar p {
    line-height: 4px;
    padding-top: 0;
}

.leftSide-topBar .myName {
    font-size: 1.7rem;
    font-weight: 500;
}

.leftSide-topBar .myGoal {
    font-weight: 300;
    padding-left: 0.5rem;
}

.middleSide-topBar {
    display: flex;
    flex-direction: row;
}

.rightSide-topBar {
    display: flex;
    flex-direction: row;
}

.rightSide-topBar a {
    margin-left: 1rem;
    color: white;
    font-size: 1.5rem;
}

.rightSide-topBar a:hover {
    font-size: 1.8rem;
    transition: 0.3s;
}


/*Second Top Bar Style*/

.second-Top-Bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #161B22;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.second-Top-Bar ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.active-about {
    border-bottom: 1px solid white;
}

.active-projects:after,
.active-contact:after,
.active-skills:after,
.active-service:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.active-projects:hover:after,
.active-contact:hover:after,
.active-skills:hover:after,
.active-service:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*Containers Style*/

.container {
    display: flex;
    flex-direction: row;
}

@media(max-width:780px) {
    .container {
        flex-flow: column;
        width: 100%;
    }
    .right-container {
        text-align: center;
    }
}


/*Left container*/

.left-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 5%;
}

.img-container {
    width: 50%;
}

.img-container img {
    border-radius: 50%;
    width: 100%;
    height: 330px;
}

@media(max-width:1075px) {
    .img-container {
        width: 70%;
    }
    .img-container img {
        border-radius: 50%;
        width: 100%;
        height: 330px;
    }
}

@media(max-width:780px) {
    .img-container {
        width: 50%;
    }
    .img-container img {
        border-radius: 50%;
        width: 100%;
        height: 330px;
    }
}

@media(max-width:600px) {
    .img-container {
        width: 60%;
    }
    .img-container img {
        border-radius: 50%;
        width: 100%;
        height: 330px;
    }
}

@media(max-width:400px) {
    .img-container {
        width: 70%;
    }
    .img-container img {
        border-radius: 50%;
        width: 100%;
        height: 300px;
    }
}

.left-container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myName {
    padding: 20px 10px;
    font-size: 2rem;
    font-weight: 600;
}

.motto {
    padding-bottom: 20px;
    font-style: italic;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social-links a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}


/*right container*/

.right-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-top: 8%;
    padding-left: 5%;
    background-color: #161B22;
}

.intro {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.body {
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.right-container a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #424850;
}

.right-container a:hover {
    background-color: #606264;
}

@media(max-width:400px) {
    .right-container a {
        margin-bottom: 10%;
    }
}